<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript">
    </script>

    <script src="assets/js/jquery-1.11.1.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/vegas/jquery.vegas.min.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/source/jquery.fancybox.js"></script>
    <script src="assets/js/jquery.isotope.js"></script>
    <script src="assets/js/appear.min.js"></script>
    <script src="assets/js/animations.min.js"></script>
    <script src="assets/js/custom-solid.js"></script>
    <script src="vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GeoQuizz</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/ionicons.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/js/source/jquery.fancybox.css" rel="stylesheet" />
    <link href="assets/css/animations.min.css" rel="stylesheet" />
    <link href="assets/css/style-solid-black.css" rel="stylesheet" />
</head>

<body data-spy="scroll" data-target="#menu-section">
    <!--MENU SECTION START-->
    <div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand">

                    GEOQUIZZ

                </p>
            </div>

        </div>
    </div>
    <!--MENU SECTION END-->
    <!--HOME SECTION START-->
    <div id="home">
        <div class="container">
            <div class="row">
                <div class="row animate-in" data-anim-type="fade-in-up">
                    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">

                        <h1>Tableau de bord</h1>
                        
                            <div class="form-group">
                              <label>Choisir Image</label>
                              <input type="file" id="inImg" accept="image/*">
                              <label>Description</label>
                              <input type="text" class="form-control" v-model="desc" placeholder="...">
                            </div>
                            <div class="form-group">
                              <label>Coordonnée X</label>
                              <input type="text" step="0.0001" class="form-control" v-model="coordX" placeholder="X">
                              <label>Coordonnée Y</label>
                              <input type="text" step="0.0001" class="form-control" v-model="coordY" placeholder="Y">
                            </div>
                            <button v-on:click="uploadImage()" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--CONTACT SECTION END-->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME -->
    <!-- CORE JQUERY -->


    <script>

        var game = new Vue({
            el: '#home',
            data: {
                id: "",
                password: "",
                base64: "",
                imageDefine: false,
                idSerie: "",
                coordX: "",
                coordY: "",
                desc: ""
            },
            methods: {
                uploadImage() {
                    var getClass = this;
                    if (this.imageDefine == false) {
                        alert("Veuillez selectionner une image")
                    } else if(this.desc == "") {
                        alert("Veuillez entrer une description")
                    } else if(isNaN(this.coordX) || isNaN(this.coordY)) {
                        alert("Veuillez rentrer des coordonnées valide")
                    } else {
                        var xhr = new XMLHttpRequest();
                        let formdata = new FormData();
                        formdata.append('file', this.base64);
                        let timestamp = ((Date.now() / 1000) | 0).toString();
                        let api_key = "742671633714977";
                        let api_secret = "SR4i2HyTa2MK9-HDSCEZz7a4fPg";
                        let cloud = "dnymyg55r";
                        let hash_string = "timestamp=" + timestamp + api_secret;
                        let signature = SHA1(hash_string).toString();
                        let upload_url =
                            "https://api.cloudinary.com/v1_1/" + cloud + "/image/upload"
                        xhr.open('POST', upload_url);
                        xhr.onload = (response) => {
                            let x = JSON.parse(xhr.responseText);
                            axios
                            .post("http://back-geoquizzatelier.pagekite.me/series/" + getClass.idSerie + "/photos", {
                                description: this.desc,
                                position: this.coordX+" "+this.coordY,
                                id: x.public_id,
                            })
                            .then(() => {
                                alert("Photo upload !");
                                document.location.href="photos.html?serie="+this.idSerie
                            })
                            .catch(e => {
                            });
                        };
                        formdata.append("timestamp", timestamp);
                        formdata.append("api_key", api_key);
                        formdata.append("signature", signature);
                        xhr.send(formdata);
                    }
                },
            }, mounted() {
                var that = this;
                document.getElementById("inImg").addEventListener('change', function () {
                    var reader = new FileReader()
                    reader.readAsDataURL(document.getElementById("inImg").files[0]);
                    reader.addEventListener('load', function () {
                        that.base64 = reader.result
                        that.imageDefine = true;
                    })
                });
            },
            created(){
                this.idSerie = new URL(window.location.href).searchParams.get("serie");

            }
        })


    </script>
    <script>
        /**
    * Secure Hash Algorithm (SHA1)
    * http://www.webtoolkit.info/
    **/
        function SHA1(msg) {
            function rotate_left(n, s) {
                var t4 = (n << s) | (n >>> (32 - s));
                return t4;
            };
            function lsb_hex(val) {
                var str = '';
                var i;
                var vh;
                var vl;
                for (i = 0; i <= 6; i += 2) {
                    vh = (val >>> (i * 4 + 4)) & 0x0f;
                    vl = (val >>> (i * 4)) & 0x0f;
                    str += vh.toString(16) + vl.toString(16);
                }
                return str;
            };
            function cvt_hex(val) {
                var str = '';
                var i;
                var v;
                for (i = 7; i >= 0; i--) {
                    v = (val >>> (i * 4)) & 0x0f;
                    str += v.toString(16);
                }
                return str;
            };
            function Utf8Encode(string) {
                string = string.replace(/\r\n/g, '\n');
                var utftext = '';
                for (var n = 0; n < string.length; n++) {
                    var c = string.charCodeAt(n);
                    if (c < 128) {
                        utftext += String.fromCharCode(c);
                    }
                    else if ((c > 127) && (c < 2048)) {
                        utftext += String.fromCharCode((c >> 6) | 192);
                        utftext += String.fromCharCode((c & 63) | 128);
                    }
                    else {
                        utftext += String.fromCharCode((c >> 12) | 224);
                        utftext += String.fromCharCode(((c >> 6) & 63) | 128);
                        utftext += String.fromCharCode((c & 63) | 128);
                    }
                }
                return utftext;
            };
            var blockstart;
            var i, j;
            var W = new Array(80);
            var H0 = 0x67452301;
            var H1 = 0xEFCDAB89;
            var H2 = 0x98BADCFE;
            var H3 = 0x10325476;
            var H4 = 0xC3D2E1F0;
            var A, B, C, D, E;
            var temp;
            msg = Utf8Encode(msg);
            var msg_len = msg.length;
            var word_array = new Array();
            for (i = 0; i < msg_len - 3; i += 4) {
                j = msg.charCodeAt(i) << 24 | msg.charCodeAt(i + 1) << 16 |
                    msg.charCodeAt(i + 2) << 8 | msg.charCodeAt(i + 3);
                word_array.push(j);
            }
            switch (msg_len % 4) {
                case 0:
                    i = 0x080000000;
                    break;
                case 1:
                    i = msg.charCodeAt(msg_len - 1) << 24 | 0x0800000;
                    break;
                case 2:
                    i = msg.charCodeAt(msg_len - 2) << 24 | msg.charCodeAt(msg_len - 1) << 16 | 0x08000;
                    break;
                case 3:
                    i = msg.charCodeAt(msg_len - 3) << 24 | msg.charCodeAt(msg_len - 2) << 16 | msg.charCodeAt(msg_len - 1) << 8 | 0x80;
                    break;
            }
            word_array.push(i);
            while ((word_array.length % 16) != 14) word_array.push(0);
            word_array.push(msg_len >>> 29);
            word_array.push((msg_len << 3) & 0x0ffffffff);
            for (blockstart = 0; blockstart < word_array.length; blockstart += 16) {
                for (i = 0; i < 16; i++) W[i] = word_array[blockstart + i];
                for (i = 16; i <= 79; i++) W[i] = rotate_left(W[i - 3] ^ W[i - 8] ^ W[i - 14] ^ W[i - 16], 1);
                A = H0;
                B = H1;
                C = H2;
                D = H3;
                E = H4;
                for (i = 0; i <= 19; i++) {
                    temp = (rotate_left(A, 5) + ((B & C) | (~B & D)) + E + W[i] + 0x5A827999) & 0x0ffffffff;
                    E = D;
                    D = C;
                    C = rotate_left(B, 30);
                    B = A;
                    A = temp;
                }
                for (i = 20; i <= 39; i++) {
                    temp = (rotate_left(A, 5) + (B ^ C ^ D) + E + W[i] + 0x6ED9EBA1) & 0x0ffffffff;
                    E = D;
                    D = C;
                    C = rotate_left(B, 30);
                    B = A;
                    A = temp;
                }
                for (i = 40; i <= 59; i++) {
                    temp = (rotate_left(A, 5) + ((B & C) | (B & D) | (C & D)) + E + W[i] + 0x8F1BBCDC) & 0x0ffffffff;
                    E = D;
                    D = C;
                    C = rotate_left(B, 30);
                    B = A;
                    A = temp;
                }
                for (i = 60; i <= 79; i++) {
                    temp = (rotate_left(A, 5) + (B ^ C ^ D) + E + W[i] + 0xCA62C1D6) & 0x0ffffffff;
                    E = D;
                    D = C;
                    C = rotate_left(B, 30);
                    B = A;
                    A = temp;
                }
                H0 = (H0 + A) & 0x0ffffffff;
                H1 = (H1 + B) & 0x0ffffffff;
                H2 = (H2 + C) & 0x0ffffffff;
                H3 = (H3 + D) & 0x0ffffffff;
                H4 = (H4 + E) & 0x0ffffffff;
            }
            var temp = cvt_hex(H0) + cvt_hex(H1) + cvt_hex(H2) + cvt_hex(H3) + cvt_hex(H4);

            return temp.toLowerCase();
        }

    </script>
</body>

</html>